/* CommentsModal.css */
.comments-modal {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    min-height: 50%; /* Limita la altura máxima del modal */
    overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido es demasiado grande */
    animation: slideUp 0.3s ease-out; /* Animación de deslizamiento */
    padding: 20px;
    z-index: 1000; /* Asegura que el modal esté por encima de otros elementos */
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .modal-content {
    padding: 20px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .comments-modal h2 {
    margin-bottom: 20px;
    color: #000;
    text-shadow: none;
  }
  
  .comments-modal ul {
    list-style-type: none;
    padding: 0;
  }
  
  .comments-modal li {
    padding: 10px 0;
    color: #000;
    text-shadow: none;
    border-bottom: 1px solid #ddd; /* Línea separadora */
  }
  
  .new-comment {
    margin-top: 20px;
  }
  
  .new-comment textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    font-family: inherit;
    font-size: 1rem;
    margin-bottom: 10px;
    transition: border-color 0.3s;
  }
  
  .new-comment textarea:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .new-comment button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .new-comment button:hover {
    background-color: #0056b3;
  }