.father-of-header {
    //---------------------------
    --size-checkBox: 9px;
    //---------------------------
    right: 0px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    height: 60px;
    width: 100%;
    top: 0;
    position: fixed;
    -webkit-box-align: center;
    background: rgba(255, 255, 255, 1);
    z-index: 1000;
    .header {
      padding: 0.2% 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .logo {
        font-family: 'Helvetica Neue Bold', Arial, sans-serif;
        font-family: 'Helvetica Neue Bold', Arial, sans-serif;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: baseline;
        img {
          width: 42px !important;
          background-color: #fff;
        }
      }
      .logo:hover {
        cursor: pointer;
      }
      .func-remain {
        align-items: center;
        position: relative;
        display: flex;
        .upload {
          margin-left: 0px;
          position: relative;
          height: 36px;
  
          div {
            min-width: 110px;
            padding: 0 16px;
            height: 36px;
            border: 1px solid rgba(22, 24, 35, 0.12);
            border-radius: 2px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            background: rgba(255, 255, 255, 1);
            img {
              height: 20px;
              width: 20px;
              margin-right: 8px;
            }
            span {
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
            }
          }
          div:hover {
            cursor: pointer;
            background-color: rgb(246, 244, 244);
          }
        }
        .messenger {
          margin-left: 16px;
          cursor: pointer;
          height: 32px;
          padding: 3px 3px 0;
          position: relative;
          img {
            display: block;
            width: 26px;
            height: 26px;
            transform: none;
          }
        }
        .mail-box {
          margin-left: 16px;
          position: relative;
          img {
            cursor: pointer;
            display: block;
          }
        }
        .avatar {
          background-image: url('http://localhost:3000/img-user-upload/avatar.jpeg') !important;
          margin-left: 24px;
          position: relative;
          width: 32px;
          height: 32px;
          background: center no-repeat;
          // -webkit-background-size: cover;
          background-size: cover;
          border-radius: 50%;
          cursor: pointer;
        }
        .btn-login {
          margin-left: 22px;
          background: red;
          font-size: 21px;
          padding: 2px;
          border-radius: 8%;
          color: white;
        }
        .more-option {
          width: 20px;
          height: 20px;
          margin-left: 16px;
          background-size: contain;
          background-image: url('http://localhost:3000/logos/more-options.svg');
          position: relative;
          .value-options {
            position: absolute;
            top: 100%;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            width: 150px;
            .option {
              background-color: #f0efef;
              border-radius: 3%;
              display: flex;
              justify-content: space-between;
              padding: 0 5%;
              label {
                position: relative;
                display: inline-block; /* cho nó làm bố giới hạn độ cao và chiều rộng không cho con nó vượt qua*/
                width: calc((var(--size-checkBox) * 4) + (var(--size-checkBox) / 3));
                height: calc((var(--size-checkBox) * 2) + (var(--size-checkBox) / 3));
  
                input {
                  opacity: 0; /* ẩn thẻ input đi và input bằng 0*/
                  width: 0;
                  height: 0;
                }
  
                .slider {
                  position: absolute; /* cho nó làm con*/
                  cursor: pointer; /* thằng span làm hết*/
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  background-color: #ccc; /* màu khi tắt đi*/
                  -webkit-transition: 0.4s;
                  transition: 0.4s; /* thời gian hiệu ứng xảy ra*/
                }
  
                .slider:before {
                  position: absolute; /* cho nó làm con*/
                  content: ''; /* không chèn bất cứ nội dung gì*/
                  height: calc(var(--size-checkBox) * 2); /* nhưng set chiều rộng chiều cao của vật thể được thêm*/
                  width: calc(var(--size-checkBox) * 2);
                  left: calc(var(--size-checkBox) / 3);
                  bottom: calc(var(--size-checkBox) / 3); /* căn khoảng cách trên dưới cho vật thể*/
                  background-color: white;
                  -webkit-transition: 0.4s;
                  transition: 0.4s;
                }
  
                input:checked + .slider {
                  background-color: rgb(89, 89, 246); /* màu nền sau khi bi click*/
                }
  
                input:focus + .slider {
                  box-shadow: 0 0 1px #2196f3; /*bóng đổ sau khi bị click*/
                }
  
                input:checked + .slider:before {
                  -webkit-transform: translateX(calc(var(--size-checkBox) * 2));
                  -ms-transform: translateX(calc(var(--size-checkBox) * 2));
                  transform: translateX(calc(var(--size-checkBox) * 2));
                }
  
                /* Rounded sliders */
                .slider.round {
                  border-radius: 34px;
                }
  
                .slider.round:before {
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
  